<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Call/Contact</h1>
      <div class="card">
        <div class="card-body">
          <p><strong>Name:</strong> <%= @found_report.user.name %></p>
          <p><strong>Phone Number:</strong> <%= @found_report.phone_number %></p>
        </div>
      </div>
    </div>
  </div>
</div>