<div class="container">
<h1>Editing found report</h1>

<%= render "form", found_report: @found_report %>

<br>

<div>
  <%= link_to "Show this found report", @found_report %> |
  <%= link_to "Back to found reports", found_reports_path %>
</div>
</div>
