<div id="<%= dom_id lost_report %>">
  <p>
    <strong>Name:</strong>
    <%= lost_report.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= lost_report.location %>
  </p>

  <p>
    <strong>Date lost:</strong>
    <%= lost_report.date_lost %>
  </p>

</div>
