<div class="container">
  <h1>Editing lost report</h1>

  <%= render "form", lost_report: @lost_report %>

  <br>

  <div>
    <%= link_to "Show this lost report", @lost_report %> |
    <%= link_to "Back to lost reports", lost_reports_path %>
  </div>
</div>