<div class="container">
<p style="color: green"><%= notice %></p>

<h1>Lost reports</h1>

<div id="lost_reports">
  <% @lost_reports.each do |lost_report| %>
    <%= render lost_report %>
    <p>
      <%= link_to "Show this lost report", lost_report %>
    </p>
  <% end %>
</div>

<%= link_to "New lost report", new_lost_report_path %>
