<!-- app/views/shared/_footer.html.erb -->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Site Map</h5>
        <ul class="list-unstyled">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "New found report", new_found_report_path %></li>
          <!-- Add more relevant links as needed -->
        </ul>
      </div>
      <div class="col-md-6 text-md-right">
        <p class="mb-0">Copyright <%= Time.now.year %> josejojis</p>
      </div>
    </div>
  </div>
</footer>
